{% extends 'app_portfolio/_portfolio_base.html' %}
{% load i18n %}
{% load static %}

{% block portfolio %}
    <div class="portfolio">
        <a href="#">1. Победитель Конкурса</a>
        <a href="#">2. Лого Центр беспилотной авиации</a>
        <a href="#">3. Герб района Москвы Орехово-Борисово Южное</a>
        <a href="#">4. ИКОНКИ</a>
        <a href="#">5. Генерация лого QueStreet - это эскизы за первый и второй день генерации лог...</a>
        <a href="#">6. Освещение в теплицах</a>
        <a href="#">7. БАНК РАЗВИТИЕ ЛОГОТИП</a>
        <a href="#">8. ОБРАЗОВАТЕЛЬНЫЙ ПОРТАЛ</a>
        <a href="#">9. ЛОГОТИП Айсберг</a>
        <a href="#">10. Расправь Крылья лого салона массажа</a>
    </div>
{% endblock %}