{% load static %}
{% load i18n %}


<footer class="footer">
    <div class="flex">

        <!--    ЛЕВАЯ КОЛОНКА ССЫЛОК begin  -->
        {% if footer_pages_left.footer_pages.all %}
            <ul>
                {% for page in footer_pages_left.footer_pages.all %}
                    <li>
                        <a href="{{ page.flatpage.get_absolute_url }}">{{ page.flatpage.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <!--    ЛЕВАЯ КОЛОНКА ССЫЛОК finish  -->

        <!--    ФОРМА ОБРАТНОЙ СВЯЗИ begin  -->
        <!--    пока не работает  -->
        <form action="#" method="post">
            {% csrf_token %}
            <p>{% trans 'ФОРМА ОБРАТНОЙ СВЯЗИ' %}</p>
            <input name="name" type="text" placeholder="{% trans 'Введите имя' %}">
            <input name="email" type="text" placeholder="{% trans 'Ваш E-mail' %}">
            <textarea name="message" placeholder="{% trans 'Ваше сообщение' %}"></textarea>
            <button type="submit">{% trans 'Отправить' %}</button>
        </form>
        <!--    ФОРМА ОБРАТНОЙ СВЯЗИ finish  -->

        <!--    ПРАВАЯ КОЛОНКА ССЫЛОК begin  -->
        {% if footer_pages_right.footer_pages.all %}
            <ul class="tar">
                {% for page in footer_pages_right.footer_pages.all %}
                    <li>
                        <a href="{{ page.flatpage.get_absolute_url }}">{{ page.flatpage.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <!--    ПРАВАЯ КОЛОНКА ССЫЛОК finish  -->

    </div>

    <!--    ССЫЛКИ НА СОЦСЕТИ begin  -->
    <div class="social">
        {% if social_media.social_media_item.all %}
            {% for item in social_media.social_media_item.all %}
                <a title="{{ item.name }}" target="_blank" href="{{ item.link }}"><img alt="{{ item.name }}-logo" src="{{ item.icon.url }}"></a>
            {% endfor %}
        {% endif %}
    </div>
    <!--    ССЫЛКИ НА СОЦСЕТИ finish  -->

</footer>